body {
    background-color: black;
    color: white;
    font-size: 32px;
}
input { font-size: 32px; }
#setup {
    background-color: white;
    color: black;
}    
#nearby {
    /* Children with float: left do not animate smoothly when their
       changing size allows their row to change. So lock them into
       columns. */
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    width: 800px;
    margin: auto;
}

.avatar {
    position: relative; /* so that it becomes the containing box */
    height: 200px;
    width: 200px;
    opacity: 1;
    left: 0;
    transition: height 1s, width 1s, left 1s, opacity 1s;    
}
.selected {
    height: 400px;
    width: 400px;
    opacity: 1;    
}
/* There's no "all siblings" selector in css yet, so add .hasSelected
   to parent when we add .selected to one child. This then catches all
   the other children. */
.hasSelected > :not(.selected) {
    height: 0;
    width: 0;
    opacity: 0;
}

.avatar img {
    border-radius: 50%;
    background-color: white;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.settingsButton {
    color: rgb(82, 202, 239);
    border: none;
}
#goSettings {
    background-color: black;
    position: absolute;
    right: 0
}
#showQR {
    border: none;
    padding: 0;
}
#showQR > img {
    width: 48px;
}
button > i.material-icons {
    font-size: 48px;
}
.avatar > span {
    line-height: 0.70;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;
    color: rgb(82, 202, 239);
}
.avatar > i {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    color: rgba(29, 252, 127, 1);
}
.avatar i:after { content: "check_box" }
#takeSelfie i:after { content: "photo_camera" }
#acceptSelfie i:after { content: "check_circle_outline" }
#retakeSelfie i:after { content: "autorenew" }
.settingsButton i:after { content: "settings_applications" }
.next i:after { content: "arrow_forward" }
.back i:after { content: "arrow_back" }
#takeSelfie { color: blue; }
#retakeSelfie { color: red; }
#acceptSelfie { color: green; }
#selfieButtons {
    position: relative;
    bottom: 32px;
    left: 0
}
#selfie {
    position: relative;
    margin: auto;
    width: 400px;
}
#selfieVideo, #selfieImg {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    display: block;
    object-fit: cover;
}
#setup img { max-width: 400px; }

#showQR.showing > img,
#showQR:not(.showing) > div,
#selfie.lineup #selfieImg,
#selfie:not(.lineup) #selfieVideo,
.avatar:not(.selected) .info,
#nearby:not(.hasSelected) ~ .ratingOptions,
#setup:not(.none) ~ #picker,
#setup.none,
#setup:not(.intro) #intro,
#setup:not(.info) #info,
#setup:not(.infoSettings) #infoSettings,
#setup:not(.contact) #contact,
#setup:not(.selfie) #selfie,
#setup:not(.threeWords) #threeWords,
#selfieCanvas
{ display: none; }

#setup {
    margin: 10px;
    padding: 10px;
}

.cloud {
    width: 100%;
    height: 500px;
    /* WordCloud specifically sets the element position to relative. Cannot override here. */
}    

.ratingOptions {
}
.autocomplete { color: black; }

/* The next two are nice on desktop, but pointless on touch devices */
.cloud > span {
    transition: text-shadow 1s ease, opacity 1s ease;
    -webkit-transition: text-shadow 1s ease, opacity 1s ease;
    -ms-transition: text-shadow 1s ease, opacity 1s ease;
  }
.cloud > span:hover {
    text-shadow: 0 0 10px, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff;
    opacity: 0.5;
  }
